.draggable-item {
    font-size: 20px; /* Default size for small screens */
    color: blue;
    font-weight: bold;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .draggable-item {
      font-size: 30px; /* Size for tablet screens */
    }
  }
  
  @media screen and (min-width: 1024px) {
    .draggable-item {
      font-size: 40px; /* Size for desktop screens */
    }
  }
  
